.lg-view{
  display:inline-block;
}

.sm-view{
  display:none;
}

@media screen and (max-width: 1200px) {
   .lg-view{
      display:none;
   }

   .sm-view{
      display:inline-block;
   }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #077BFF; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 25%;
  left: 40%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card {
  border: unset;
}

.team-link:hover {
  text-decoration: underline;
}
.leaderboard-link:hover {
  text-decoration: underline;
}

.nav-title,.leaderboard-link,.team-link {
  cursor: pointer;
}

.invalid {
  font-style: italic;
}

span.icon:before {
  font-family: 'Glyphicons Halflings';
  content: "\f015";
}